@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gestión de Registro Estudiantil</h1>

    <div class="d-flex justify-content-center align-items-center mt-4">
        <div>
            <img src="https://img.freepik.com/vector-premium/desarrollo-software-lenguajes-programacion-web-css-html-it-ui-programador-personaje-dibujos-animados-desarrollo-sitio-web-codificacion-banner-ilustracion-plana_128772-1967.jpg"
                 alt="Desarrollo de Software"
                 style="max-width: 400px; border-radius: 10px;">
        </div>

        <div class="ml-5">
            <h3>Ir a los registros de Estudiantes</h3>
            <a href="/Estudiantes" class="btn btn-warning btn-lg mb-3">Estudiantes</a>

            <h3>Ver las listas de Materias</h3>
            <a href="/Materias" class="btn btn-primary btn-lg mb-3">Materias</a>

            <h3>Gestionar Matrículas</h3>
            <a href="/Matriculas" class="btn btn-danger btn-lg">Matrículas</a>
        </div>
    </div>
</div>